* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  background-color: #020d1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
.search-part {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;
}

.search-input {
  border: none;
  padding: 1.5rem 5rem;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #fff;
}

.search-input:focus{
  outline: none;
}

.search-btn{
  border: none;
  padding: 1.7rem 2rem;
  background-color: black;
  color: #dad8d8;
  border-radius: 30px;
}

.weather-card {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  color: black;
  align-items: center;
  border-radius: 30px;
  padding: 4rem 0;
  width: 100%;
  text-align: center;
  box-shadow: 0rem 0rem 5rem rgba(255, 255, 255, .7);
  padding: 3rem;
}
.inner-weather{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.special{
  font-size: 4rem !important;
  padding-bottom: 3rem;
}
.weather-name{
  font-size: 3rem;
  text-align: center;
}

.weather-temp{
  font-size: 2rem;
  display: flex;
  gap:.5rem;
  align-items: center;
}

.details{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}